{#
/**
 * @file
 * Default theme implementation to display workflow information.
 *
 * Available variables:
 * - workflow: The workflow list entity.
 * - assigned_entities: Array of assigned entities (users and groups).
 * - resource_tags: Array of taxonomy term entities for resource locations.
 */
#}
<div class="workflow-info">
  <h3>{{ 'Workflow Information'|t }}</h3>
  
  <div class="workflow-name">
    <strong>{{ 'Workflow:'|t }}</strong> {{ workflow.label }}
  </div>

  {% if workflow.description %}
    <div class="workflow-description">
      <em>{{ workflow.description }}</em>
    </div>
  {% endif %}

  {% if assigned_entities %}
    <div class="workflow-assigned">
      <strong>{{ 'Assigned Users and Groups:'|t }}</strong>
      <ul class="workflow-entity-list">
      {% for item in assigned_entities %}
        <li>
          <span class="entity-badge entity-badge--{{ item.entity_type }}">
            {{ item.entity_type }}
          </span>
          {{ item.entity.label }}
        </li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if resource_tags %}
    <div class="workflow-resources">
      <strong>{{ 'Resource Locations:'|t }}</strong>
      <ul class="workflow-resource-list">
      {% for tag in resource_tags %}
        <li>{{ tag.label }}</li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>
